{{! Template for the frost-detail-tab-actions component }}
{{log subcontentActions}}
{{#each subcontentActions as |subcontentAction|}}
  {{#if subcontentAction.action.type}}
    <button
      class={{concat css '-button'}}
      data-test={{hook (concat hookPrefix '-button')}}
      {{action (action onDispatch subcontentAction.action) on='click'}}
    >
      <span class={{concat css '-label'}}> {{subcontentAction.label}} </span>      
      {{frost-icon
        hook=(concat hookPrefix '-buttonIcon')
        icon=subcontentAction.icon.name
        pack=subcontentAction.icon.pack
      }}
    </button>
  {{else}}
    <button
      class={{concat css '-button'}}
      data-test={{hook (concat hookPrefix '-button')}}
      {{action (action subcontentAction.action) on='click'}}
    >
      <span class={{concat css '-label'}}> {{subcontentAction.label}} </span>      
      
      {{frost-icon
        hook=(concat hookPrefix '-buttonIcon')
        icon=subcontentAction.icon.name
        pack=subcontentAction.icon.pack
      }}
    </button>
  {{/if}}
{{/each}}
